*{
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  margin: 0;
}

:root{
  font-size: 62.5%;
}

body{
  background-color: rgba(0, 0, 0, 0.979);
  font-size: 1.6rem;
}

h1, h2{
  color: rgb(255, 255, 255);
}

span{
  color: red;
}

.navegation{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: sans-serif;
  margin-top: 30px;
  font-weight: 500;
  
}

.nav-link{
  border:1px solid rgba(0, 0, 0, 0.253);
  border-radius: 8px;
  padding: 10px;
  font-size: 2rem;
  text-decoration: none;
  margin-left:20px ;
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px;
}

.btn-social{
  background-color:transparent;
  border: transparent;
  text-decoration: none;
  border-radius: 3rem;
  margin-top: 4rem;
  
}

.principal{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  justify-content: center ;
  align-items: center;
  text-align: center;
  
  
}


.projects{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  justify-content: center ;
  align-items: center;
  text-align: center;
}

.h1Projects{
  font-size: 4.5rem;
  color: rgb(255, 255, 255);
  margin-bottom: 2rem;
}


.cardImage{
  width: 25rem;
  height: 35rem;
  border: 1px solid #fff;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.cardImage:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.card{
  width: 25rem;
  height: 35rem;
  margin: 4rem;
  background-color: rgba(0, 0, 0, 0.979);
  border: none;
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 10rem;
}

.title{
  font-size: 4.5rem;

}

.titleT{
  font-size: 4.5rem;
  margin-top: 15rem;
}



.text-init{
  display: flex;
  width: 70rem;
  height: 20rem;
}




.text{
  font-size: 2rem;
  text-align: left;
  margin-top: 3rem;
  color: rgb(255, 255, 255);
  text-align: justify;
}

.icon{
  margin-top: 50px;
  height: 12.5rem;
  width: 12.5rem;
}

.image{
  display: inline-block;
  margin: 0 15px;
}

.tec{
  margin-bottom: 3rem;
  margin-top: 2rem;
  font-weight: 500;
  color: #fff;
}

.cardProject{
  display: inline-block;
  margin: 0 15px;
  
}

/* text init */

@media (max-width: 768px) {
  .text-init{
  width: 50rem;
  height: 25rem;
  display: block;
  }
 }

 @media (max-width: 552px) {
  .text-init{
  width: 40rem;
  height: 30rem;
  display: block;
  }
 }

 @media (max-width: 446px) {
  .text-init{
  width: 37rem;
  height: 30rem;
  display: block;
  }
 }